<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.cau.team135.customdragkeyboard"
    android:versionCode="21"
    android:versionName="Final Presentation">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon_launcher"
        android:label="@string/ime_name">
        <service
            android:name="kr.ac.cau.team135.customdragkeyboard.CompassKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
                <action android:name="android.intent.action.DELETE" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.CompassKeyboardSettings"
            android:exported="true"
            android:label="@string/settings" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.MainActivity"
            android:label="CustomDragKeyboard"
            android:theme="@android:style/Theme.DeviceDefault.Panel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kr.ac.cau.team135.customdragkeyboard.FilePicker">
            <intent-filter>
                <action android:name="kr.ac.cau.team135.customdragkeyboard.filepicker.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingSizeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingFunctionActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingSelectActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.provider.Settings.KeySettingSelectActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.KeySettingSelectSwapActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="kr.ac.cau.team135.customdragkeyboard.LayoutImportActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.provider.Settings.LayoutImportActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>